@import "./../../utils/variables.scss";

.FormItem {
    display: flex;
    flex-direction: column;
    &:last-child{
        margin-left: 1em;
    }
    label {
        margin-bottom: 0.5rem;
    }
    textarea {
        font-size: 4em;
        font-weight: 300;
        font-size: 48px;
        line-height: 48px;
        height: 50vh;
        width: 100%;
    }
    textarea,
    input {
        font-family: $primary-font;
        border: none;
        resize: none;
        background: transparent;
        &::placeholder {
            color: black;
        }
    }
    input {
        font-size: 1.7em;
    }
}
