@import './../../utils/variables.scss';

.ButtonContainer {
    position: relative;
    width: fit-content;
    font-size: .8em;
    border-bottom: 1px solid ;
    &:hover {
        .circle {
            animation: slide 1s forwards;
        }
    }
    .circle {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: -10px;
        background: #ebe3e4;
        border-radius: 20px;
        animation: slideOut 1s forwards;
        pointer-events: none;
        opacity: .5;
    }
}

@keyframes slide {
    0% {
        width: 25%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 40px;
        right: 0;
        left: 100%;
    }
}

@keyframes slideOut {
    0% {
        width: 40px;
        right: 0;
        left: 100%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 40px;
        left: 0;
        right: 100%;
    }
}
