@import "./../../utils/variables.scss";

.Form {
    width: 70%;
    .errorMessage{
        color: $primary-color;
        padding: 1em 0;
    }
    .formRow{
        display: flex;
        >div{
            width: 50%;
        }
    }
    button{
        margin-top: 4rem;
    }
}
