@import "./../../utils/variables.scss";
@import "./../../utils/media.scss";

.Form {
    display: flex;
    @include respond(phone) {
        flex-direction: column;
    }
    .success{
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 4rem;
            font-weight: 100;
            @include respond(phone){
                font-size: 3rem;
            }
        }
    }
    form {
        width: 70%;

        .errorMessage {
            color: $primary-color;
            padding: 1em 0;
        }

        .formRow {
            display: flex;

            >div {
                width: 50%;
            }

            @include respond(phone) {
                flex-direction: column;

                >div {
                    width: 100%;
                }
            }
        }

        button {
            margin-top: 4rem;
        }

        @include respond(phone) {
            width: 100%;
            margin: 4rem 0;
        }
    }
}