@import "./../../utils/variables.scss";
.Home {
    background: $primary-bg;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    >div{
        width: 100%;
    }
    h1 {
        font-size: 5em;
        color: white;
        font-weight: $font-bold;
        display: block;
        margin: .5em 0;
        width: 80%;
        >span {
            &:first-child{
                display: block;
            }
        }
    }
}
