@import "./../../utils/variables.scss";
.Home {
    background: $primary-bg;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;

    h1 {
        font-size: 5.5em;
        color: white;
        font-weight: 300;
        display: block;
        margin: .5em 0;
        width: 80%;
        >span {
            color: $primary-color;
            font-weight: 700;
            font-family: $secondary-font;
            &:first-child{
                display: block;
            }
        }
    }
}
