@import "./../../utils/variables.scss";
@import "./../../utils/mixins.scss";
@import "./../../utils/media.scss";


.Contacto{
    min-height: 100vh;
    background: $primary-light-bg;
    @include container();
    padding-top: 10rem;
    display: flex;
    @include respond(phone){
        flex-direction: column;
    }
}