@import "./../../../utils/variables.scss";
@import "./../../../utils/mixins.scss";
@import "./../../../utils/media.scss";

.PortfolioCard {
    opacity: 0.2;
    transition: opacity 0.2s;
    @include respond(phone) {
        text-align: center;
    }
    &.isActive {
        opacity: 1;
    }
    &:hover {
        opacity: 1;
        transition: opacity 0.5s;
    }
    &Info {
        color: white;
        margin: 1rem;
        h2,
        h3 {
            font-weight: 700;
            margin: 0;
            font-size: 0.5rem;
            @include respond(phone) {
                text-align: center;
                align-items: center;
                line-height: 1;
            }
        }
        h2 {
            font-size: 4.5rem;
            text-transform: capitalize;
            padding-top: 1.4rem;
            font-weight: 300;

            @include respond(phone) {
                font-size: 3rem;
                padding-top: 0.2rem;
            }
            @include respond(xs) {
                font-size: 2rem;
                padding-top: 0.2rem;
            }
        }
    }
    @include respond(phone) {
        img {
            padding: 1rem;
        }
    }
}
