@import "./../../../utils/variables.scss";
@import "./../../../utils/mixins.scss";
@import "./../../../utils/media.scss";

.PortfolioCard {
    margin: 2em 0;
    transition: transform 0.5s;
    will-change: transform;
    img {
        width: 100%;
        height: auto;
        transition: transform 0.5s;
        will-change: transform;
        &:hover {
            transform: scale(0.9);
        }
    }
    .PortfolioCardInfo {
        color: white;
        margin: 1rem;
        h2,
        h3 {
            font-weight: 400;
            margin: 0;
        }
        h3 {
            font-size: 0.9em;
        }
    }
    @include respond(phone) {
        img{
            padding: 1rem;
        }
    }
   
    
    &:nth-child(4n - 3) {
        background: rgb(223, 183, 135); 
        justify-self: start;
        width: 80%;
        @include respond(phone) {
            width: 100%;
        }
        img {
            width: 110%;
            @include respond(phone) {
                width: 100%;
            }
        }
    }
    &:nth-child(4n + 2) {
        background: rgb(135, 210, 223);
        width: 110%;
        @include respond(phone) {
            width: 100%;
        }
    }
    &:nth-child(4n + 3) {
        background: rgb(223, 210, 135);
        width: 100%;
    }
    &:nth-child(4n + 4) {
        background: rgb(150, 223, 135);
        justify-self: end;
        width: 80%;
        @include respond(phone) {
            width: 100%;
        }
    }
}
