@import './variables.scss';
@import './mixins.scss';

body {
    font-family: $primary-font;
    cursor: none;
    background: $primary-bg;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img{
    width: 100%;
}