@import "./variables.scss";
@import "./mixins.scss";

body {
    font-family: $primary-font;
    cursor: none;
    background: $primary-bg;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 100vh;
    color: #3e3d3d;
    @include respond(phone) {
        padding-bottom: 58vh;
    }
}

.portfolioCarrousel .swiper-container{
    .swiper-button-prev, .swiper-button-next{
        color:white
    }
    @include respond(phone){
        overflow: visible;
        .swiper-button-prev, .swiper-button-next{
            top: auto;
            bottom: -15%
        }
        .swiper-button-next{
            right: 40%
        }
        .swiper-button-prev{
            left: 40%
        }
        .swiper-button-prev:after, .swiper-button-next:after{
            font-size: 1.2rem
        }
    }
}

html {
    font-size: 95%;
    box-sizing: border-box;
    @include respond(phone) {
        font-size: 120%; 
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}
button {
    font-family: inherit;
    background: transparent;
    border: none;
    color: inherit;
    &:focus {
        outline: 0;
    }
}

.activeCategory {
    font-weight: 900;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    background: white
}