@import './variables.scss';
@import './mixins.scss';

body {
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: none;
    background: $primary-bg;
}

* {
    box-sizing: border-box;
}

section{
    @include container();
}