$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Archivo', sans-serif;

/* $primary-bg: #222; */
$primary-bg: #20201F;
$secondary-bg: #1b1b1b;
$primary-light-bg: #f7f7f7;
$primary-semilight-bg: #bbb8b8;
$primary-color: #FFC926;
$secondary-color: #6b6b6b;

$font-bold: 800;

