$primary-font: 'Montserrat', sans-serif;;
$secondary-font: 'Archivo', sans-serif;

/* $primary-bg: #222; */
$secondary-bg: #1f1b1b;
$primary-bg: black;
$primary-light-bg: #ebe4e4;
$primary-color: #fe3e3e;
$secondary-color: #6b6b6b;

$font-bold: 800;

