@import "./../../utils/variables.scss";

.Subtitle{
    font-weight: $font-bold;
    font-family: $secondary-font;
    display: flex;
    align-items: center;
    font-size: .9em;
    transform: translateY(50%);
    color: $primary-color;
    span{
        color: $secondary-color;
        &:after{
           content: "";
           height: 3px;
           color: white;
           width: 30px; 
        }
    }
    .separator{
        height: 3px;
        background: $primary-color;
        width: 30px;
        margin: 0 .5em;
    }
}