@import "./../../utils/variables.scss";
@import "./../../utils/mixins.scss";
@import "./../../utils/media.scss";

.Subtitle{
    font-weight: $font-bold;
    display: flex;
    align-items: center;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    transform: translateY(50%);
    color: $primary-color;
    text-transform: uppercase;
    span{
        color: $secondary-color;
        &:after{
           content: "";
           height: 3px;
           color: white;
           width: 30px; 
        }
        @include respond(phone){
            font-size: .7rem;
        }
    }
    .separator{
        height: 3px;
        background: $primary-color;
        width: 30px;
        margin: 0 .5em;
    }
    &.hasPadding{
        @include container()
    }
    @include respond(phone){
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        transform: translateY(0);
        .separator{
            margin: .5rem 0;
        }
    }
}