.ContactInfo {
    border-left: 1.5px solid black;
    height: fit-content;
    padding-left: 1em;
    > div {
        margin-bottom: 1em;
        p {
            margin-bottom: 0.3rem;
        }
    }
    address{
        font-style: normal;
        line-height: 1.8;
    }
}
