@import "./../../utils/variables.scss";
@import "./../../utils/mixins.scss";

.Footer {
    background: $primary-light-bg;
    min-height: 80vh;
    color: $primary-bg;
    @include container();
    position: sticky;
    bottom: 0;
    z-index: -99999;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footerMail {
        margin-top: 2em;
    }
    div {
        h3 {
            font-size: 5em;
            line-height: 1;
            margin: 0;
            margin-bottom: 0.5em;
            color: white;
        }
        > a {
            font-size: 6em;
            font-weight: 300;
            //border-bottom: 2px solid white;
        }
    }
    .endFooter {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: absolute;
        bottom: 1em;
        width: 80%;
        .footerSocial {
            margin-top: 3em;
            padding: 3em 0;
            ul {
                display: flex;
                color: $secondary-color;
                li a {
                    padding: 0;
                    padding-right: 2em;
                }
            }
        }
        .footerLegales {
            display: flex;
            justify-content: space-between;
            color: $secondary-color;
            margin-top: 2em;
           
            h5 {
                margin: 0;
            }
        }
    }
}
