@import "./../../utils/variables.scss";
@import "./../../utils/mixins.scss";
@import "./../../utils/media.scss";

.PortfolioDetalle {
    background-color: $primary-bg;
    padding-bottom: 8em;
    .PortfolioHeader {
        display: grid;
        grid-template-areas: "overlap";
        aside {
            grid-area: overlap;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            margin-bottom: 1em;
            @include container();
            padding-bottom: 7em;
            color: $primary-light-bg;
            z-index: 1;
            h1,
            h2 {
                z-index: 999;
            }
            .PortfolioTitle {
                font-size: 6rem;
            }
            @include respond(phone) {
                justify-content: center;
                .PortfolioTitle {
                    font-size: 3rem;
                    margin-top: 1remN;
                }
            }
        }
        .fotoPortada {
            grid-area: overlap;
            height: 100vh;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            clip-path: inset(0 0 0 17%);
            filter: brightness(0.4);
            @include respond(phone) {
                clip-path: none;
            }
        }
    }
    a {
        z-index: 999;
        color: white;
        font-weight: 500;
    }
    .PortfolioDetalleGaleria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .Container {
            margin: 4rem;
            &FullScreen {
                grid-area: 3 / 1 / 4 / 3;
                margin: 4rem 0;
            }
            @include respond(phone) {
                margin: 0rem;
            }
        }
        @include respond(phone) {
            margin-top: 3rem;
        }
    }
    .noParallax {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .noParallax:not(.noPadding){
        padding: 0 5rem;
    }
    .noPadding {
        margin: 0;
        @include respond(phone) {
            margin-bottom: 3rem;
        }
    }
    .ContainerFullScreenMobile {
        background-position: center center;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
        margin: 3rem 0;
    }
}
