@import "./../../utils/variables.scss";
@import "./../../utils/mixins.scss";
@import "./../../utils/media.scss";
.Servicios {
    min-height: 100vh;
    background: $primary-light-bg;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    @include respond(phone){
        min-height: 80vh;
    }
    div {
        h1.title {
            font-weight: 900;
            font-size: 3rem;
            padding-bottom: 0;
        }
        p.subtitle{
            line-height: 1.5;
            font-size: 300;   
            color: $secondary-color;
            padding-top: 1.5em;
        }
    }
    > img {
        width: 40%;
    }
    .ServiciosParagraph{
        font-size: 3rem;
        @include respond(phone){
            font-size: 1.8rem;
        }
    }
}
