@import './../../utils/variables.scss';

.Nav {
    padding: 4em 2em;
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    transition: 300ms all;

    nav {
        display: flex;
        display: flex;
        justify-content: space-between;
    }
    .LinksContainer {
        display: flex;
        li{
            font-weight: 900;
        }
    }
}

.ScrolledNav {
    background: $primary-bg;
    transition: 300ms all;
    top: 0px;
    padding: 1.5em 2em;
}

.hiddenNav{
    top: -100px;
    transition: 300ms all;
}
