@import './../../utils/variables.scss';

.Nav {
    padding: 4em 2em;
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    transition: all .5s;
    z-index: 999;
    .Logo{
        font-weight: 900;
        font-size: 1.6em;
    }
    nav {
        display: flex;
        display: flex;
        justify-content: space-between;
    }
    .LinksContainer {
        display: flex;
        li{
            font-weight: 500;
        }
    }
}

.ScrolledNav {
    background: $primary-bg;
    transition: all .5s;
    top: 0px;
    padding: 1.5em 2em;
}

.hiddenNav{
    top: -100px;
    transition: all .5s;
}
