@import './../../utils/mixins.scss';
@import './../../utils/variables.scss';

.Portfolio {
    padding: 0;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $primary-bg;
    h1{
        @include container();
        padding-top: 2em;
        margin-bottom: 3em;
    }

}
